DEVICE=eth3
ONBOOT=yes
HOTPLUG=no
NM_CONTROLLED=no
PEERDNS=no
BOOTPROTO=none
{% for network in contrail_networks %}
{% if network.keys()[0] == 'External' %}
{% if not 'VlanId' in network.values()[0] %}
{% set cidr = UNDERCLOUD_EXTERNAL_API_IP + '/' network.values()[0].PrefixLength %}
{% set ipv4_host =  cidr | unique | ipv4('host/prefix') | first %}
IPADDR={{ ipv4_host | ipaddr('address') }}
NETMASK={{ ipv4_host | ipaddr('netmask') }}
{% endif %}
{% endif %}
{% endfor %}
