resource_registry:
  OS::TripleO::Controller::Net::SoftwareConfig: ../../network/config/contrail/controller-nic-config.yaml
  OS::TripleO::ContrailController::Net::SoftwareConfig: ../../network/config/contrail/contrail-controller-nic-config.yaml
  OS::TripleO::ContrailAnalytics::Net::SoftwareConfig: ../../network/config/contrail/contrail-analytics-nic-config.yaml
  OS::TripleO::ContrailAnalyticsDatabase::Net::SoftwareConfig: ../../network/config/contrail/contrail-analytics-database-nic-config.yaml
  OS::TripleO::Compute::Net::SoftwareConfig: ../../network/config/contrail/contrail-nic-config-compute.yaml
  OS::TripleO::ContrailTsn::Net::SoftwareConfig: ../../network/config/contrail/contrail-nic-config-compute.yaml
{% if BUILD_DPDK_IMAGE == 'yes' %}
  OS::TripleO::ContrailDpdk::Net::SoftwareConfig: ../../network/config/contrail/contrail-nic-config-compute-dpdk.yaml
{% endif %}

parameter_defaults:
{% for key, value in contrail_networks.items() %}
  {{ key }}NetCidr: {{ value.Prefix }}/{{ value.PrefixLength }}
{% if key == 'ControlPlane' %}
  ControlPlaneSubnetCidr: '{{ value.PrefixLength }}'
{% endif %}
{% if 'Gateway' in value %}
{% if key == 'Management' %}
  {{ key }}InterfaceDefaultRoute: {{ value.Gateway }}
{% else %}
  {{ key }}DefaultRoute: {{ value.Gateway }}
{% endif %}
{% endif %}
{% if 'AllocationStart' in value %}
  {{ key }}AllocationPools: [{'start': '{{ value.AllocationStart }}', 'end': '{{ value.AllocationEnd }}'}]
{% endif %}
{% if 'VlanId' in value %}
  {{ key }}VlanID: {{ value.VlanId }}
{% endif %}
{% endfor %}
  EC2MetadataIp: {{ EC2METADATAIP }}  # Generally the IP of the Undercloud
  DnsServers: ["{{ DNS_SERVERS }}"]
  NtpServer: {{ NTP_SERVER }}
  ContrailVrouterPhysicalInterface: {{ CONTRAIL_PHY_INTERFACE }}
  VrouterPhysicalInterface: {{ CONTRAIL_PHY_INTERFACE }}
  ContrailVrouterGateway: {{ CONTRAIL_VROUTER_GW }}
  VrouterGateway: {{ CONTRAIL_VROUTER_GW }}
  ContrailVrouterNetmask: {{ CONTRAIL_VROUTER_NETMASK }}
  VrouterNetmask: {{ CONTRAIL_VROUTER_NETMASK }}
  ControlVirtualInterface: {{ CONTROLPLANE_INTERFACE }}
  PublicVirtualInterface: {{ EXTERNAL_INTERFACE }}
{% if VROUTER_PARENT_VLAN_INTERFACE %}
  ContrailVlanParentInterface: {{ VROUTER_PARENT_VLAN_INTERFACE }}
  VlanParentInterface: {{ VROUTER_PARENT_VLAN_INTERFACE }}
{% endif %}
{% if VROUTER_BOND_INTERFACE %}
  ContrailBondInterface: bond0
  BondInterface: bond0
{% endif %}
{% if VROUTER_BOND_MEMBERS %}
  ContrailBondInterfaceMembers: {{ VROUTER_BOND_MEMBERS }}
  BondInterfaceMembers: {{ VROUTER_BOND_MEMBERS }}
{% endif %}
{% if BOND_MODE %}
  BondMode: {{ BOND_MODE }}
  ContrailBondMode: {{ BOND_MODE }}
{% endif %}
{% if BOND_POLICY %}
  BondPolicy: {{ BOND_POLICY }}
  ContrailBondPolicy: {{ BOND_POLICY }}
{% endif %}
{% if DPDK_HUGEPAGES %}
  ContrailDpdkHugePages: {{ DPDK_HUGEPAGES }}
{% endif %}
{% if DPDK_COREMASK %}
  ContrailDpdkCoremask: {{ DPDK_COREMASK }}
{% endif %}
{% if DPDK_DRIVER %}
  ContrailDpdkDriver: {{ DPDK_DRIVER }}
{% endif %}
